.student {
  max-width: 40rem;
  margin: 2rem auto;
  text-align: center;

  border: 1px solid #ccc;
  color: inherit;

  padding: 1.5rem;
  border-radius: 8px;
}

.student h1 {
  font-size: 1.8em;
  margin-bottom: 2rem;
  color: #fff;
}

.student p {
  margin: 8px 0;
  color: #666;
  font-size: 1.2rem;
}

.student p strong {
  color: #fff;
  font-weight: 500;
  margin-left: 0.3rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.actions a,
.actions button {
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

.actions button {
  background-color: transparent;
  border: none;
  color: var(--color-primary-800);
}
